
*{
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}


.button{
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
}

.button:hover{
	background-color: #4CAF50;
	color: white;
}

.text-muted{
	color: #BCBBBB;
}

.text-thin{
	font-weight: 100;
}

.title-super{
	font-size: 60px;
    overflow-y: hidden;
}

.title-logo{
	margin-top: 10px;
}

.hm1{
    display: flex;
}

.hm2{
    outline: 2px dotted aqua; 
    text-align: left; 
    background-color: aliceblue;
}

.hm3{
    outline: 2px dashed aqua;
    background-color: antiquewhite;
}

.centering {
    margin: auto;
    padding:10px;
    display: flex;
}

.text-center{
	text-align: center;
}

.btn-responsive {
    white-space: normal !important;
    word-wrap: break-word;
}

.selector-for-some-widget {
  box-sizing: content-box;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}